<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rest Api Tests" >
   <!-- <listeners>
        <listener class-name="utils.SuiteListener"/>
    </listeners>-->
    <test name="Test Automation Api">
  				      
                <classes>
                   <class name="testsApi.DisplayBreed"/>
                   <class name="testsApi.DogImageLink"/>
                   <class name="testsApi.FindDog"/>
                   <class name="testsApi.DogsDisplay"/>
                </classes>

    </test>
</suite>